services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: apic-automations:latest
    container_name: apic_backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app:/code/app
    restart: always
